* {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    text-decoration:none ;
    font-family: 'Balsamiq Sans', cursive;  
}
body {
    width: 100vw;
    overflow-x: hidden !important;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80px;
    overflow: hidden;
    position: fixed;
    background-color: white;
}
.logo {
    text-align: center;
    line-height: 20px;
    width: 250px;
}
.logo h1 {
    padding: 17px 30px 20px 30px;
    font-size: 30px;
    font-family: 'Mate SC', serif;
}
.logo h1 span {
    font-size: 20px;
}
.navlist {
    width: 70vw;
}
.navlist ul {
    display: flex;
    flex-direction: row;
    padding: 30px 70px 30px 70px;
    margin-left: 200px;
}
.navlist ul li {
    font-size: 19px;
    padding-left: 30px;
    font-family: 'Fredoka One', cursive;
    font-weight: 200;
}
.icon {
    padding: 20px 10px 20px 30px;
    word-spacing: 13px;
}
.icon i {
    font-size: 23px;
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.474);
    border-radius: 20px;
}
.info1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 125px;
}
.headd {
    margin: auto;
    width: 50vw;
}
.headd h3 {
    letter-spacing: 5px;
    font-size: 40px;
    text-align:center;
    padding-right: 40px;
    font-family: 'Odibee Sans';
}
.headd h1 {
    font-size: 120px;
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Odibee Sans';
}
.headd h4 {
    font-size: 40px;
    text-align: right;
    padding-right: 180px;
    letter-spacing: 5px;
    font-family: 'Odibee Sans';
}
.headd p {
    text-align: left;
    word-spacing:normal;
    padding-top: 10px;
}
.image {
    margin: auto;
    padding-left: 20px;
}
.info2 {
    background-color: rgba(207, 104, 67, 0.665);
    height: fit-content;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 70px;
}
.info2 h2 {
    font-family: 'Mate SC', serif;
    text-align: center;
    padding: 40px;
    font-size: 35px;
    text-decoration: underline;
}
.step1 {
    width: fit-content;
    border:none;
    padding: 10px 80px 10px 30px;
    margin: 30px 10vw 30px 20px;
    border-radius: 30px;
    color: white;
    background-image: url(img/pexels-sound-on-3761132.jpg);
    background-size: 180%;
}
.step1 a {
    color: rgb(255, 255, 255);
}
.step1 a:hover {
    color: tan;
}
.step2 {
    width: fit-content;
    border:none;
    padding: 10px 100px 10px 30px;
    margin: 30px  30px 30px 50vw ;
    border-radius: 30px;
    color: white;
    background-image: url(img/pexels-sound-on-3761132.jpg);
    background-size: 180%;
}
.step3 {
    width: fit-content;
    border:none;
    padding: 10px 200px 10px 20px;
    margin: 30px 5vw 30px 25px;
    border-radius: 30px;
    color: white;
    background-image: url(img/pexels-sound-on-3761132.jpg);
    background-size: 200%;
}
.step4 {
    width: fit-content;
    border:none;
    padding: 10px 50px 10px 30px;
    margin-top: 30px;
    margin-left: 50vw;
    margin-right: 10px;
    border-radius: 30px;
    color: white;
    background-image: url(img/pexels-sound-on-3761132.jpg);
    background-size: 180%;
}

.step1 h2,.step2 h2,.step3 h2,.step4 h2 {
    text-align: left;
    padding: 5px 0 5px 0;
    font-family: 'Squada One';
    font-weight: 100;
    color: rgb(82, 71, 68);
    text-shadow:1px 2px rgba(82, 71, 68, 0.549);
    text-decoration: none;
}
.step1 p,.step2 p,.step3 p,.step4 p {
    padding-left: 75px;
    line-height: 20px;
    color: rgb(255, 241, 234);
    font-weight: 400;
    font-size: 20px;
}
.step1 p {
    line-height: 25px;
}
.step2 p{
    padding-left: 80px;
}
.step3 p {
   padding-left: 80px;
}
.step4 p {
    padding-left: 80px;
}
.info3 p {
    font-family: 'Mate SC';
}
.info3 {
    background-color: rgba(255, 255, 255, 0.665);
    height: fit-content;
    width: 100vw;
    margin: auto;
    padding:50px 30px 50px 0px;
    display: flex;
    flex-direction: row;
}
.para1 {
    width: 50vw;
}
.info3 p {
    font-family: 'Squada One';
    width: fit-content;
    font-size: 20px;
    border:none;
    padding: 10px 50px 10px 30px;
    margin:auto;
    border-radius: 30px;
    color: white;
    background-image: url(Technology/pexels-sound-on-3761132.jpg);
    background-size: 180%;
}
.aarogya {
    display: flex;
    flex-direction: row;
    width: 30vw;
    padding-top: 10px;
    margin: auto;
}
.aarogya h1 {
    margin: auto;
    font-family: 'Odibee Sans';
    word-spacing: 3px;
}
.para1 h3 {
    font-family: 'Fredoka One', cursive;
    padding-left: 11vw;
    padding-top:20px ;
    padding-bottom: 20px;
    margin: auto;
}
.app {
    padding-left: 12vw;
    margin: auto;
}
.app img {
    padding-right: 20px;
}
.para2 {
    width: 50vw;
}
.form {
    margin: auto;
    padding-left: 9vw;
    padding-top: 6vw;
    line-height: 5vw;
    margin: auto;
}
input[type=text] {
    width: 30vw;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px brown solid;
    border-radius: 30px;
}
input[type=submit] {
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    margin: auto;
    border:none;
    border-radius: 20px;
    background-color: paleturquoise;
    font-family: 'Fredoka One', cursive;
}
.row {
    padding-left: 12vw;
}
.info4 {
    padding: 25px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.919);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
} 
.info4 p {
    font-family: 'Odibee Sans';
    word-spacing: 3px;
    color: white;
}
.info5 {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.919);
    width: 100vw;
}
.info5 p {
    font-family: 'Odibee Sans';
    word-spacing: 4px;
    color: white;
    margin: auto;
    font-size: 40px;
    padding-left: 42.5vw;
}

